img.sabers {
	width: 75%;
	right: 1em;
	top: 5em;
	position: absolute;
}

img.sabers:active {
	transform: scale(0.85, 0.85);
}

img.glow-outline-right {
	width: 95%;
	animation: spin-clockwise 8s linear infinite;
	z-index: -1;
	position: absolute;
}
img.glow-outline-left {
	width: 95%;
	animation: spin-counterclockwise 8s linear infinite;
	z-index: -1;
	position: absolute;
}

.money-title {
	text-align: center;
}

@keyframes spin-clockwise {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin-counterclockwise {
	100% {
		transform: rotate(-360deg);
	}
}
