.menu {
	background-color: #95a5a6;
}

.side-menu {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 5rem;
}

.side-menu-icon i {
	cursor: pointer;
	font-size: 20rem;
}

.side-menu-icon h3 {
	cursor: pointer;
}

.the-light-side:hover {
	color: #5bc0de;
}

.the-light-side-selected {
	color: #31b0d5;
}

.the-light-side-selected:hover {
	color: #31b0d5;
}

.the-dark-side:hover {
	color: #d9534f;
}

.the-dark-side-selected {
	color: #c9302c;
}

.the-dark-side-selected:hover {
	color: #c9302c;
}

.fixed-target-card {
	position: fixed;
}

.target-card {
	font-size: 2.5rem;
	color: darkgray;
	line-height: 15rem;
	text-align: center;
}

.target-card-selected {
	color: #c9302c;
	border-color: #ac2925;
}

.target-card-text {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.target-card-icon {
	font-size: 10rem;
	vertical-align: middle;
}

.stack {
	position: absolute;
}

.terminated {
	width: 10rem;
	padding: 2px;
	color: #c9302c;
	border: #ac2925 1px solid;
	font-weight: bold;
}
